/*---------Global Css Start Here -----------*/

html{
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: $bgColor;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

.content{
    flex: 1;
}
