.btn{
    background-color: $btnInner-1;
    text-decoration: none;
    width: auto;
    height: 35px;
    border-radius: 10px 0 10px 0;
    position: relative;
    display: inline-block;
    color: $darkGreen;

    @mixin atSmall{
        height: 48px;
    }

    &:before{
        content: '';
        position: absolute;
        width: 5%;
        height: 100%;
        background-color: $darkGreen;
        border-radius: 0 0 10px 0;
        top: 0;
        right: 0;
    }

    &:after{
        content: '';
        position: absolute;
        width: 5%;
        height: 100%;
        background-color: $btnInner;
        top: 0;
        right: 5%;
    }

    &__text{
        font-size: 1rem;
        padding: 0 10px;
        margin: 0 15px;
        line-height: 35px;

        @mixin atSmall{
            font-size: 1.2rem;
            padding: 0 15px;
            margin: 0 25px;
            line-height: 48px;
        }
    }

    &--t-margin{
        margin-top: 0;

        @mixin atMedium{
            margin-top: 20px;
        }
    }

    &--center{
        text-align: center;
    }

    &--margin{
        margin: 20px 0;
    }

    &--margin-large{
        margin: 30px 0 ;
    }
}
