.headline{
    font-size: 2rem;
    font-weight: 300;
    color: #16a99d;
    margin: 0;

    @mixin atSmall{
        font-size: 3.5rem;
    }

    &--small{
        font-size: 1.08rem;
        padding: 20px;
        color: $Black;

        @mixin atSmall{
            font-size: 1.25rem;
        }
    }

    &--narrow{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.65;
    }

    &--padding{
        padding: 20px 0;
    }

    &--center{
        text-align: center;
    }

    &--center-until-medium{
        text-align: center;

        @mixin atMedium{
            text-align: left;
        }
    }

    &--light{
        font-weight: 300;
    }

    &--light-color{
        color: $lightGreen;
    }

    &--large{
        font-size: 4rem;
    }

    &--dark{
        color: $darkGreen;
    }

    &--medium{
        font-size: 2rem;

        @mixin atSmall{
            font-size: 2.3rem;
        }
    }

    &__title{
        font-size: 1.7rem;
        padding: 15px 0 0 5px;
        color: rgba($Black, .55);
        font-weight: 100;
        font-style: italic;

        @mixin atSmall{
            font-size: 2.3rem;
            color: rgba($Black, .45);
        }
    }

    &__subtitle{
        font-size: 1.2rem;
        padding: 0 10px 0 5px;
        color: rgba($Black, .87);
        font-weight: 300;
        line-height: 1.25;

        @mixin atSmall{
            font-size: 1.5rem;
        }

        strong{
            color: rgba($Black, .74);
            font-style: oblique;
        }
    }

    &__subtitle--narrow{
        width: 100%;

        @mixin atMedium{
            width: 70%;
        }
    }

    &__subtitle--center{
        margin: auto;
    }

    &__subtitle--no-t-margin{
        margin-top: 0;
    }

    &__subtitle--no-t-margin-untill-medium{

        @mixin atMedium{
            margin-top: 0;
        }
    }

    &--b-margin-untill-medium{
        margin-bottom: 25px;
    }

    &__subtitle-padding-b{
        padding-bottom: 15px;
    }
}
