.page-section{
    padding: 20px 0;

    &--dark-green{
        background-color: rgba($darkGreen, .8);
    }

    &--no-t-padding{
        padding-top: 0;
    }

    &--no-b-padding{
        padding-bottom: 0;
    }

    &--no-b-padding-untill-medium{
        padding-bottom: 0;

        @mixin atMedium{
            padding-bottom: 20px;
        }
    }

    &--large-t-padding{
        padding-top: 10px;

        @mixin atMedium{
            padding-top: 60px;
        }
    }

    &--b-border{
        border-bottom: 12px solid $darkGreen;
    }
}
