.portfolio-project{
    position: relative;
    overflow: hidden;
    display: block;
    margin-left: 0;
    margin-right: 0;
    min-width: 280px;
    max-width: 500px;

    color: $White;
    text-align: center;
    background-color: $darkGreen;

    @mixin atSmall{
        display: inline-block;
        width: 500px;
        height: 300px;
    }

    & *{
        transition: all .75s ease;
    }

    &__img{
        vertical-align: top;
        max-width: 100%;
        backface-visibility: hidden;
    }

    &__content{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 30px;
        background-color: rgba($Black, .85);
        transform: rotate(90deg);
        transform-origin: 0 0%;
    }

    &__title{
        line-height: 1.5em;
        display: inline;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 1rem;
        padding: 10px;

        @mixin atSmall{
            font-size: 1.5rem;
        }
    }

    &__description{
        line-height: 1.65;
        font-weight: 300;
        padding: 20px 5px 15px;
        font-size: .9rem;

        @mixin atSmall{
            font-size: 1.2rem;
        }
    }

    &__link{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    &:hover  &__img{
        opacity: 0.6;
        transform: scale(1.2);

    }

    &:hover &__content{
        transform: rotate(0);
    }
}
