.row{
    lost-utility: clearfix;

    @mixin atSmall{
        &__small-4{
            lost-column: 1/3;
        }

        &__small-6{
            lost-column: 1/2;
        }

        &__small-8{
            lost-column: 2/3;
        }

        &__small-12{
            lost-column: 3/3;
        }
    }

    @mixin atMedium{


        &__medium-4{
            lost-column: 1/3;
        }

        &__medium-6{
            lost-column: 1/2;
        }

        &__medium-8{
            lost-column: 2/3;
        }

        &__medium-12{
            lost-column: 3/3;
        }
    }

    @mixin atLarge{


        &__large-4{
            lost-column: 1/3;
        }

        &__large-6{
            lost-column: 1/2;
        }

        &__large-8{
            lost-column: 2/3;
        }

        &__large-12{
            lost-column: 3/3;
        }
    }

    &--center{
        text-align: center;
    }

    &--padding{
        padding: 0;

        @mixin atMedium{
            padding: 10px 0 30px 0;
        }
    }

    &--padding-large{
        padding: 0;

        @mixin atMedium{
            padding: 50px 0;
        }
    }

    &--t-padding-untill-medium{

        padding-top: 30px;

        @mixin atMedium{
            padding-top: 0;
        }
    }

    &--b-padding-untill-medium{

        padding-bottom: 30px;

        @mixin atMedium{
            padding-bottom: 0;
        }
    }

    &--b-padding-s-untill-medium{

        padding-bottom: 30px;

        @mixin atMedium{
            padding-bottom: 50px;
        }
    }

    &--padding-left-right{
        padding: 0 20px;
    }

    &--padding-top{
        padding-top: 0px;

        @mixin atMedium{
            padding-top: 50px;
        }
    }

    &--padding-medium{
        padding: 0;

        @mixin atMedium{
            padding: 20px 0;
        }
    }

    &--t-margin-untill-medium{
        margin-top: 15px;

        @mixin atMedium{
            margin-top: 0;
        }
    }

    &--b-margin-untill-medium{
        margin-bottom: 35px;

        @mixin atMedium{
            margin-bottom: 0;
        }
    }
}
