.services{
    text-align: center;

    &__img{
        background-color: $darkGreen;
        width: 65px;
        height: 65px;
        position: relative;
        margin: 0 auto;
        border-radius: 0 20px 0 20px;

        &--img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__title{
        font-size: 1.8rem;
        color: $lightGreen;
        margin: 10px 0;

        @mixin atMedium{
            margin: 20px 0;
        }
    }

    &__subtitle{
        font-size: 1.2rem;
        font-weight: 300;
        color: $lightGreen;
        padding: 0;

        @mixin atSmall{
            padding: 0 10px;
        }
    }

    &__subtitle--no-margin-untill-medium{
        margin: 0;

        @mixin atMedium{
            margin: 19.2px 0;
        }
    }
}
