.social{
    text-align: center;

    &--no-margin-padding{
        margin: 0;
        padding: 0;
    }

    &--small-padding{
        margin: 0;
        padding: 0 5px;
    }

    &--padding{
        padding: 10px 0;

        @mixin atMedium{
            padding: 20px 0;
        }
    }

    li{
        list-style: none;
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: $darkGreen;
        margin: 10px 0;
        position: relative;
        border-radius: 0 20px 0 20px;
        transition: all .45s ease;

        @mixin atSmall{
            width: 60px;
            height: 60px;
        }
    }

    li:not(:last-child){
        margin-right: 9px;

        @mixin atSmall{
            margin-right: 25px;
        }
    }

    &__img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    li:hover{
        transform: translateY(-10px);
        cursor: pointer;
    }

    &--left-until-medium{
        text-align: center;

        @mixin atMedium{
            text-align: left;
        }
    }

}
